<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
</head>
<body>
    <h1 style="color:rgb(174, 223, 255)">
        My Education:
    </h1>

    <p style="color:rgb(216, 251, 249)">
        I graduated from PSJA Thomas Jefferson T-STEM Early College High School in 2022. After that I decided to move to Austin to attend the University of Texas at Austin to study Computer Science.
        In doing so I found out that I didnt really enjoy it, and decided to move back home. After one semester I decided to attend UTRGV and am excited to continue my education here.
    </p>

    <div style="text-align: center;">
        <img src='static/UTRGV.jpg' 
        style="width: 40%"
        height="auto">
        </img>
    </div>

<body>