<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" type="text/css" href="static/basic.css">
</head>
<body>
    <h1 style="color:rgb(174, 223, 255)">
        My Hobbies:
    </h1>

  
    <p style="color:rgb(216, 251, 249)">
        I have several hobbies including running, watching anime, playing soccer, being with my cat, and learning fun things.
    </p>

    <img src='/static/Soccer.jpg' 
    style="width: 35%"
    height="auto">
    </img>

    <img src='/static/One.jpg' 
    style="width: 35%"
    height="auto">
    </img>

<body>