<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<body>
    <h1 style="color:rgb(174, 223, 255)">
        My Cat:
    </h1>

    <p style="color:rgb(216, 251, 249)">
        This is my cat Michi. My cat is a street cat in which we found and decided to take care of. We initially thought of sending
        him to an adoption center but fell too much in love with him and decided to keep him.
    </p>

    <div style="text-align: center;">
        <img src='/static/Cat.jpg' 
        style="width: 35%"
        height="auto">
        </img>
    </div>

<body>